

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galleryCard {
  transition: transform 0.3s ease;
}

.galleryCard:hover {
  transform: scale(1.05);
}

.galleryImage {
  height: 300px; 
  object-fit: cover; 
}

.galleryCardBody {
  background-color: #f8f9fa;
}
